{% load staticfiles %}
{% load i18n %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block head_title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">


        <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic,300italic,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'frameworks/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block front_frameworks %} 
            <!-- JQUERY:-->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
        {% endblock %}
        {% block head_css %}{% endblock %}
        {% block head_javascript %}{% endblock %}

    </head>
    <body>

<div class="flaghome">
	<section class="base-header">
	    <header class="base-navbar">
	    	<div class="container">
	    {% block navbar %}
		    	<div class="row">
		    		<article class="base-top">
		    			<div class="row">
					    	<div class="col-sm-2 col-xs-12">
					    		<p class="base-logotipo">
								    {% block logo_header %}

								    {% endblock %}
								 </p>
						    </div>
						    <div class="botones-home col-sm-8 col-xs-12">


						        <p class="base-contacto">

                            <i class="fa fa-envelope"></i> Contacto</a>
						        </p>
						    </div>
						  </div>
					  </article>
				  </div>
			  </div>
	    </header>
	</section> 
	
	{% block buscador %}

	{% endblock buscador %}

	{% endblock %}
	
</div>

<section class="central-content">
    {% block content %}
    {% endblock %}
</section>

<!-- /container -->

<footer>
    {% include 'contacto.html' %}

</footer>



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>


        <script type="text/javascript">
    $(document).ready(function(){
        jQuery('.ubicacion .select2').css('width','100% !important');
    });
</script>


{% block footer_javascript %}
{% endblock %}


    </body>
</html>



