<div class="data-contacto">
      <div class="nombre"><span>{{SITE_NAME}}</span></div>
      <div class="telefono"><span></span></div>
      <div class="copyleft">Licencia Creative Commons</div>
      <!--<div class="web"><span>http://www.mariajoseduranpropiedades.cl</span></div>-->
</div>


  {% block footer_javascript %}
        {{form.media}}
{% endblock %}
